@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;700&display=swap');

/* ############### CONTENT ###############
    # General settings 
    # Header
    # Hamburger menu
    # Main content
    # Media queries
*/

/* ############### General settings ###############*/
:root {
    --header-bg-clr: #000c2c;
    --hamburger-bg-clr: #00185c;
    --blue-text-clr: #00cfcf;
    --red-text-clr: #ff595a;
    --white-text-clr: white;
    --thin-text: 300;
    --medium-text: 500;
    --bold-text: 700;
}

*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: white;
    font-family: 'Rajdhani', sans-serif;
}

/* ############### Header ###############*/
h1, h2, h3, h4, h5, h6 {
    color: var(--white-text-clr);
}   

h1 span {
    color: var(--red-text-clr);
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

header{
  transition: all 0.5s;
  z-index: 997;
  height: 70vh;
  align-items: center;
  color: var(--blue-text-clr);
  background-color: var(--header-bg-clr);
}

svg {
  min-width: 100vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

nav li {
  position: relative;
}

nav>ul>li {
  white-space: nowrap;
  display: inline;
  padding: 10px 0 10px 28px;
  float: right;
}

/* ############### Hamburger menu ###############*/
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--white-text-clr);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 3rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: var(--medium-text);
  color: var(--blue-text-clr);
}

.nav-logo {
  font-size: 2.1rem;
}

.underline-animation {
  display: inline-block;
  position: relative;
  color: var(--blue-text-clr);
  text-decoration: none;
  font-size: 25px;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--blue-text-clr);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 1110px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: var(--hamburger-bg-clr);
      width: 90%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      z-index: 997;
  }

  .nav-logo {
    font-size: 1.5rem;
    white-space: nowrap;
  }

  .nav-menu.active {
    left: 5%;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    position: fixed;
    right: 4rem;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
  }
}

/* ############### Main content ###############*/
#header-section {
  background-color: var(--header-bg-clr);
  width: 100%;
}

#header-section h2 {
  color: var(--white-text-clr);
  margin-bottom: 30px;
  font-size: 3rem;
}

#header-section .btn-get-started {
  color: var(--red-text-clr);
  border-radius: 50px;
  padding: 8px 35px 10px 35px;
  border: 2px solid var(--red-text-clr);
  transition: all ease-in-out 0.3s;
  display: inline-block;
  background: var(--header-bg-clr);
  margin-top: 30px;
}

#header-section .btn-get-started:hover {
  background-color: var(--red-text-clr); 
  color: var(--header-bg-clr);
  border: 2px solid transparent;
}

#header-section .container {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#header-section .container .header-section-content {
  display: flex;
  align-items: center;
  margin-right: auto;
  width: 100%;
}

#header-section .container .header-section-content .header-section-content-text {
  min-width: 600px;
}

.mitochondrium {
  width: 100%;
}

.mitochondrium img {
  width: 500px;
  height: 300px;
}



/* ############### Media queries ###############*/
/* @media (max-width: 768px) {
  .mitochondrium-img {
    width: 250px;
    height: 150px;
  }
}

@media (max-width: 991px) {
  #header-section .mitochondrium-img {
    text-align: center;
  }

  #header-section .mitochondrium-img img {
    width: 50%;
  }
} */

@media (max-width: 768px) {
  #header-section {
    -moz-text-align-last: center;
    text-align-last: center;
  }

  #header-section h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #header-section h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

}


/* @media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  } */
